<html>
  <head></head>
  <body>
  	<style>
      html {
        background-color: pink;
      }
      div {
        margin: auto;
        text-align: center;
        margin-top: 200px;
      }
    </style>
    <div>
    <form>
    	<input type='text' name='input' />
    </form>
    <p> <%= translated %> </p>
   </div>
  </body>
</html>